<%= form_with(model: fixed_exp, local: true) do |form| %>
  <% if fixed_exp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixed_exp.errors.count, "error") %> prohibited this fixed_exp from being saved:</h2>

      <ul>
      <% fixed_exp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
